<html>
<head>
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <h1>Pokemon Database</h1>
    </div>
    <div>
        @RenderBody()
    </div>
    <footer>
        <hr>
    </footer>
    © Pokemon Database @DateTime.Now.Year
</body>
</html>