# Add any directories, files, or patterns you don't want to be tracked by version control
# Folders
**/bin/
**/obj/
**/.dist/
**/node_modules/

# Files
Pokedex/Pokedex/appsettings.json
Pokedex/Pokedex/.vscode/settings.json
