@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model PokemonDatabase.DataAccess.Models.User
@{
    Layout = "_Layout";
}

<h2>Unarchive User Confirm</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.Id)

        <div class="form-group">
            @Html.LabelFor(x => x.Username)
            @Html.DisplayFor(x => x.Username, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <p>
            <button type="submit" class="btn btn-success" role="button">Unarchive</button>
        </p>
    }

</div>