<?xml version="1.0" encoding="utf-8" ?>
<RuleSet Name="StyleCop rules for Core Application" Description="Custom Rules" ToolsVersion="10.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.CSharp.ReadabilityRules">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>