<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>  
    <rewrite>  
        <rules>  
          <rule name="Redirect rquests to default azure websites domain" stopProcessing="true">
            <match url="(.*)" />  
            <conditions logicalGrouping="MatchAny">
              <add input="{HTTP_HOST}" pattern="^(www.)?pokemondatabase\.azurewebsites\.net$" />
            </conditions>
            <action type="Redirect" url="https://www.pokeluna.net/{R:1}" redirectType="Permanent" />  
          </rule>  
        </rules>  
    </rewrite>  
  </system.webServer>  
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Pokedex.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>