footer, .fixed-nav {
  width: 100%;
  position: fixed;
  z-index: 500;
}

footer {
  background-color: white;
  color: gray;
  height: 30px;
  bottom: 0;
}

footer div {
  margin-top: 2.5px;
}

footer hr {
  margin: 0;
}

.fixed-nav {
  top: 0;
}

main {
  padding: 0 5px !important;
  margin: 70px 0 15px;
}

.shadowed img {
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222); 
}

.table tbody tr:first-of-type * {
  border-top-width: 0px;
  padding-bottom: 10px;
  font-size: 1rem;
}

.pokemonTables {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -1rem 1rem 0;
}

.pokemonTables table {
  width: 100%;
}

.effectivenessChart {
  display: flex;
}

.strongAgainst {
  margin-right: 1rem;
}

.effectivenessChart table tbody tr:first-of-type td {
  padding-top: 5px;
}

.noRowBorders td {
  border-width: 0;
}

.noRowBorders table tbody tr:first-of-type td {
  border-top-width: 1px;
}

.teamGeneratorTable td {
  border-width: 0;
}

footer hr{
  margin-top: 0;
}

img {
  border: 0;
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.effectivenessChart table td, .evolutions td {
  padding: 0;
}

.pokemonPicture {
  margin: 10px;
}

.generatorPicture {
  padding: 10px;
}

.baseStatTable td, .evYieldTable td {
  padding-left: 10px;
  padding-bottom: 5px;
}

.baseStatTable th {
  font-size: 1rem !important;
}

.pokemonTables {
  padding: 0 1rem;
}

.pokemonTables th {
  width: 1px;
  white-space: nowrap;
}

.pokemonStats .statBar {
  border: 1px solid black;
}

.pokemonStats tr td:last-child {
  text-align: right;
}

.pokemonStats .statBar {
  height: 20px;
}

.tableWithHeaders thead th {
  width: auto;
  color: #212529;
  text-align: left;
  padding-left: 0px;
  white-space: nowrap;
  border-top-width: 0px;
}

.evolutions thead tr h2 {
  margin-top: -4px;
  margin-bottom: 4px;
}

.evolutions thead th:first-child, .evolutions tbody th:first-child {
  padding-right: 20px;
}

.evolutions thead th:first-of-type {
  min-width: 155px;
}

.evolutions tbody th {
  text-align: left;
}

.evolutions thead th:last-child {
  width: 100%;
}

.evolutions tbody th {
  font-size: 1rem;
}

.maleRatio {
  color: #3273dc;
}

.femaleRatio {
  color: #ff6bce;
}

.teamGenerator {
  margin-top: 10px;
}

.teamGenerator .generatorPicture {
  text-align: center;
}

a {
  outline: none;
}

@media (min-width: 1px){
  .Table1x6 {
    display: block;
  }
  .Table3x2, .Table2x3 {
    display: none;
  }
}

@media (min-width: 768px) {
  .Table2x3 {
    display: block;
  }
  .Table3x2, .Table1x6 {
    display: none;
  }
}

@media (min-width: 1000px) {
  .Table3x2 {
    display: block;
  }
  .Table2x3, .Table1x6 {
    display: none;
  }
}