 /* Style the tab */
 .tab-list {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #dbdbdb;
}

/* Style the buttons that are used to open the tab content */
.tab-list button {
  list-style: none;
  min-width: auto;
  margin: 0 0 -1px .25rem;
  padding: .25rem 1rem;
  border: 1px solid #dbdbdb;
  border-radius: 4px 4px 0 0;
  line-height: 1.2;
  text-align: center;
  flex: 1 1 0;
  color: #737373;
  transition: color .2s, background-color .2s;
}

/* Change background color of buttons on hover */
.tab-list button:hover {
  background-color: #ddd;
}

.tab-list button:focus {
  outline-width: 0;
}

/* Create an active/current tablink class */
.tab-list button.active {
  background-color: #fff;
  border-bottom-color: #fff;
  color: #404040;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

.tabcontent.active {
  display: block;
  margin-bottom: 60px;
}