@model Pokedex.Models.TypingEvaluatorViewModel;
@using Pokedex.DataAccess.Models;
@{
    List<PokemonTypeDetail> typing = Model.AllPokemonWithTypes;
}

@for(var i = 0; i < typing.Count(); i++)
{
    <div class="@typing[i].Pokemon.Name">
        <a href=@string.Concat(Model.AppConfig.WebUrl, "/pokemon/", typing[i].Pokemon.Name.Replace("; ", "_").Replace(' ', '_').ToLower())>
            <img class="pokemonListPicture" title="typing[i].Pokemon.Name.Replace('_', ' ')" src=@string.Concat(Model.AppConfig.WebUrl, Model.AppConfig.PokemonImageUrl, typing[i].PokemonId, ".png")>
        </a>
        <div>
            <span class="pokemonName">@Model.AllPokemon[i].Name.Replace('_', ' ')</span>
        </div>
    </div>
}