@model Pokedex.Models.GenerationViewModel;

<div class="generationTable">
    @if (this.User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@this.Url.Action("Generation", "Add")" role="button">Add Generation</a>
        </p>
    }
    <table class="table">
        <tr>
            <th scope="col">Generation</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach (var item in Model.AllGenerations)
        {
            <tr>
                <td>@item.GenerationName</td>
                <td>
                    @if (!Model.AllGames.Exists(x => x.GenerationId == item.Id))
                    {
                        <a href="@(this.Url.Action("Generation", "Delete", new { id = item.Id }))">Delete</a>
                    }
                    else
                    {
                        @("No Actions Possible")
                    }
                </td>
            </tr>
        }
    </table>
</div>