@model List<Pokedex.DataAccess.Models.PageStat>;
@{
    Layout = "_Layout";
    
}

<a class="btn btn-primary" href="@this.Url.Action("ClearPageViews", "Owner")">Clear Page Views</a>
<br><br>

@section styles
{
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="/js/pageLookup.js"></script>
}

<div class="pageButtons year">
    @foreach (var item in Model.GroupBy(x => x.VisitDate.ToString("yyyy")).Select(x => x.First()).ToList())
    {
        int year = Convert.ToInt16(item.VisitDate.ToString("yyyy"));
        <button id="Year@(year)" onclick="lookupYear(@year)">@year</button>
    }
</div>
<div class="page year pageStatList"></div>