@using MoreLinq;
@model List<int>;
@{
    ViewBag.Title = "Page Stats";
}

@section styles
{
    <link href="~/css/pageLookup.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/ajaxSpinner.css" rel="stylesheet" asp-append-version="true" />
    <style>
        .page table th{
            font-weight: bold;
            color: black;
        }

        h2 {
            margin: 20px;
        }
        
        .pokemonName:hover {
            color: black !important;
        }
    </style>
}

@section scripts
{
    <script src="~/js/pageLookup.js" asp-append-version="true"></script>
}

<div style="display: none" class="pokemonPageCheck" id="noPokemonPage"></div>

<div class="pageButtons year">
    @foreach (var year in Model)
    {
        <button id="Year@(year)" onclick="lookupYear(@year)">@year</button>
    }
</div>
<div class="page year pageStatList"></div>

<div class="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>