@using MoreLinq;
@model List<Pokedex.DataAccess.Models.PageStat>;
@{
    Layout = "_Layout";
    ViewBag.Title = "Pokémon Page Stats";
}

@section styles
{
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
    <style>
        .page table th{
            font-weight: bold;
            color: black;
        }

        h2 {
            margin: 20px;
        }
    </style>
}

@section scripts
{
    <script src="/js/pageLookup.js"></script>
}

<div style="display: none" class="pokemonPageCheck" id="pokemonPage"></div>

<div class="pageButtons year">
    <button id="Popularity" onclick="lookupPopularity()">Popularity</button>
    @foreach (var item in Model.DistinctBy(x => x.VisitDate.ToString("yyyy")).ToList())
    {
        int year = Convert.ToInt16(item.VisitDate.ToString("yyyy"));
        <button id="Year@(year)" onclick="lookupYear(@year)">@year</button>
    }
</div>
<div class="page year pageStatList"></div>