@model IEnumerable<Pokedex.DataAccess.Models.ReviewedPokemon>;
@{
    Layout = "_Layout";
}

@if(Model.Count() > 0)
{
    <a class="btn btn-primary" role="button" href="@(Url.Action("CompleteReviewedPokemon", "Owner"))">Complete Reviewed Pokémon</a>
}

<div class="reviewedPokemonTable">
    <table class="table">
        <tr>
            <th scope="col">Pokedex Number</th>
            <th scope="col">Pokémon Name</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Pokemon.PokedexNumber</td>
                <td>@item.Pokemon.Name</td>
                <td><a href="@(Url.Action("ReviewedPokemon", "Delete", new { id = item.Id }))">Delete</a></td>
            </tr>
        }
    </table>
</div>