@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model PokemonDatabase.DataAccess.Models.EggGroup
@{
    Layout = "_layout";
}

<h2>Add Egg Group</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.Name)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Add</button>
        </p>
    }

</div>