@model PokemonDatabase.DataAccess.Models.Ability
@{
    Layout = "_Layout";
}

<div class="abilityName">
    <b>Name: </b> @Model.Name
</div>
<div class="abilityDescription">
    <b>Description:</b> @Model.Description
</div>