@model IEnumerable<PokemonDatabase.DataAccess.Models.Ability>;
@{
    Layout = "_Layout";
}

<div>
    <table class="table">
        <tr>
            <th scope="col">Ability Name</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td><a href="@Url.Action("Ability", "Home", new { Name = @item.Name.Replace(' ', '_')})">@item.Name</a></td>
            </tr>
        }
    </table>
</div>