@model IEnumerable<PokemonDatabase.Models.EggGroup>
@{
    Layout = "_Layout";
}

<div>
    <table class="table">
        <tr>
            <th scope="col">Egg Groups</th>
        </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                </tr>
            }
    </table>
</div>