@model Pokedex.Models.AbilityEvaluatorViewModel
@{
    ViewBag.Title = "Ability Lookup";
    ViewBag.Description = "Find out what Pokémon have a specific ability, whether it's their primary, secondary, or hidden ability, and what that ability does!";
    var abilities = Model.AllAbilities.Prepend(new Pokedex.DataAccess.Models.Ability { Id = 0, Name = "No Ability Selected" });
}

@section styles
{
    <link href="~/css/pageLookup.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/ajaxSpinner.css" rel="stylesheet" asp-append-version="true" />
    <style>
        .generationList {
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .flexDiv {
            padding: 0 0 1rem;
            flex-wrap: wrap;
        }

        .flexDiv label {
          margin-bottom: 7.5px;
        }

        .abilityList, .abilityList>select, .generationList, .generationList>select {
          width: 12rem;
        }

        .abilityClassifier {
            margin: 0.5rem auto;
            color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
            padding: 3px;
            max-width: 175px;
            width: 95%;
        }

        .primaryAbility {
            background-color: #004560;
        }

        .secondaryAbility {
            background-color: #00603c;
        }

        .hiddenAbility {
            background-color: #6f00a2;
        }

        .specialAbility {
            background-color: #a20000;
        }
    </style>
}

@section scripts
{
    <script src="~/js/abilityEvaluator.js" asp-append-version="true"></script>
}

<div>
    <div class="evaluator">
        <div class="flexDiv">
            <div class="generationList">
                <label for="Generation">Generation</label>
                <select class="form-control generationSelectList" id="Generation_List" name="Generation List">
                    <option value="0">Any Generation</option>
                    @foreach (var g in Model.AllGenerations)
                    {
                        <option value="@g.Id">@g.GenerationName</option>
                    }
                </select>
            </div>
            <div class="abilityList">
                @Html.Label("Ability")
                @Html.DropDownList("Ability", new SelectList(@abilities, "Id", "Name"), new { @class = "form-control abilitySelectList" })
            </div>
        </div>
    </div>
    <div style="display: none;" class="pokemonWithAbility"></div>
</div>

<div class="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>