@{
    Layout = "_Layout";
    ViewBag.Title = "About";
}

<h4>Welcome to the Pokemon Database!</h4>
<br>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    This website was built from scratch from a database created for a school project.
    The plan was to only add a few pokemon from the pokedex for the assignment, though as I built the database, I decided to add every pokemon.
    I hadn't realized how many individual entries I had to add to the database if I wanted every pokemon and alternate form (<i>Almost 1000 different entries</i>)!
    Over the course of a summer, I had all the pokemon entered from Generations 1-7.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    Throughout my schooling, I learned how to create websites using ASP.NET Core and I decided to turn this project of mine into a website.
    Over the course of that semester, after learning topics in class, I added bits and pieces to my site.
    After adding a few new features outside of what I learned (<i>Ajax was confusing at first to get working</i>), we get to how the site is currently!
    I hope that you enjoy what I've made!
</p>
<p>
    Please Note: Information used for the pokemon are updated to be in line with the most current generation of Pokemon.
</p>