@{
    Layout = "_Layout";
}

@section styles
{
    <style>
        div:not(.social) p {
            margin: 0 10px 16px;
        }

        div.social p {
            margin: 0 10px !important;
        }
    </style>
}

<h4><b>History</b></h4>
<div class="history">
    <p>This all began as a school project for a programming class. The assignment asked to create a database containing a lot of different tables, and a Pokédex fit perfectly for that. I only needed to add a few pokémon, but I pushed myself further and further until all 807 pokémon were added (for the time).</p>
    <p>That would've been the end there, but at the same time, a friend of mine was wanting to make a game, and would need easy access to all the information that is present on this website. So, I began creating an application that could display this information easily for him. I eventually realized that having to send him the application whenever I made a change would've been a lot, so then the idea for this website was born.</p>
</div>

<h4><b>Credits</b></h4>
<div class="credits">
    <p>Shiny Pokémon Images: <a href="https://tonofdirt726.imgbb.com/" target="_blank">TonOfDirt726</a></p>
    <p>Additional Pokémon Images: <a href="https://www.deviantart.com/zarxielzerg" target="_blank">ZarxielZerg</a></p>
</div>

<h4><b>Social</b></h4>
<div class="social">
    <p>Twitter: <a href="https://twitter.com/_DewGaming" target="_blank">_DewGaming</a></p>
    <p>Github: <a href="https://github.com/DewGaming/PokemonDatabase" target="_blank">Dew Gaming</a></p>
</div>