@model List<int>;
@{
    Layout = "_Layout";
    ViewBag.Title = "Pokémon List";
    ViewBag.Description = "Lookup different Pokémon stats, separated by different generations!";
}

@section styles
{
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
    <link href="/css/typeChart.css" rel="stylesheet" type="text/css" />
    <link href="/css/pokemonPage.css" rel="stylesheet" type="text/css" />
    <link href="/css/ajaxSpinner.css" rel="stylesheet" type="text/css" />
    <style>
        .pokemonImages {
            perspective: 720px;
            position: relative;
            height: 150px;
        }

        .front, .back {
            backface-visibility: hidden;
            transform-style: preserve-3d;
            width: 100%;
            transition: all 0.5s ease-out 0s;
        }

        .front {
            z-index: 1;
            position: absolute;
            transform: rotateY(0deg);
        }

        .back {
            z-index: 0;
            position: relative;
            transform: rotateY(-180deg);
        }

        .pokemonListPicture {
            backface-visibility: hidden;
        }
    </style>
}

@section scripts
{
    <script src="/js/pageLookup.js"></script>
    <script>
        var home = function() {
        	$('.front').css('z-index: 0')
        	$('.front').css('transform', 'rotateY(-180deg)')
        	$('.back').css('z-index: 1')
        	$('.back').css('transform', 'rotateY(0deg)')
        }

        var official = function() {
        	$('.back').css('z-index: 0')
        	$('.back').css('transform', 'rotateY(-180deg)')
        	$('.front').css('z-index: 1')
        	$('.front').css('transform', 'rotateY(0deg)')
        }

        $('.turnHome').on('click', function() {
            if ($($('.grid-container .pokemonImages')[0]).hasClass('home'))
            {
                official()
                $('.grid-container .pokemonImages').each(function () {
                    $(this).removeClass('home')
                })
            }
            else
            {
                home()
                $('.grid-container .pokemonImages').each(function () {
                    $(this).addClass('home')
                })
            }
        })
    </script>
}

<p>
    <button class="btn btn-primary turnHome">Change Artwork (2D ⟷ 3D)</button>
    @if (this.User.IsInRole("Owner"))
    {
        <a class="btn btn-primary" href="@this.Url.Action("Pokemon", "Add")" role="button">Add Pokémon</a>
    }
</p>

<div class="pageButtons">
    @foreach (var id in Model)
    {
        <button id="Generation@(id)" onclick="lookupGeneration('@id')">Generation @id</button>
    }
</div>

<div class="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

<div class="page generation pokemonList"></div>