@model List<string>;
@{
    Layout = "_Layout";
    ViewBag.Title = "Pokemon List";
}

@section styles
{
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
    <link href="/css/typeChart.css" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="/js/pageLookup.js"></script>
}

<div class="generationList">
    @foreach(var id in Model)
    {
        <button id="Generation@(id)" onclick="lookupGeneration('@id')">Generation @id</button>
    }
</div>
<div class="generation pokemonList">
    <div class="grid-container"></div>
</div>