@model List<string>;
@{
    Layout = "_Layout";
    ViewBag.Title = "Pokemon List";
}

@section styles
{
    <link href="/css/tabContent.css" rel="stylesheet" type="text/css" />
    <link href="/css/typeChart.css" rel="stylesheet" type="text/css" />
    <style>
        main {
            max-width: 1220px !important;
        }
    </style>
}

@section scripts
{
    <script src="/js/tabContent.js"></script>
}

<div class="tab-list">
    @foreach(var id in Model)
    {
        <button class="tab" id="Generation@(id)" onclick="openGeneration('@id')">Generation @id</button>
    }
</div>
<div class="tabcontent generation pokemonList">
    <div class="grid-container"></div>
</div>