@model List<int>;
@{
    Layout = "_Layout";
    ViewBag.Title = "Pokémon List";
}

@section styles
{
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
    <link href="/css/typeChart.css" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="/js/pageLookup.js"></script>
}

<p>
    @if (this.User.IsInRole("Owner"))
    {
        <a class="btn btn-primary" href="@this.Url.Action("Pokemon", "Add")" role="button">Add Pokémon</a>
    }
</p>

<div class="pageButtons">
    @foreach (var id in Model)
    {
        <button id="Generation@(id)" onclick="lookupGeneration('@id')">Generation @id</button>
    }
</div>
<div class="page generation pokemonList">
    <div class="grid-container"></div>
</div>