@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.DataAccess.Models.Comment
@{
    Layout = "_layout";
    ViewBag.Title = "Leave a Comment";
}

@section styles
{
    <style>
        .radioButton {
            margin: 5px 0;
        }
    </style>
}

<div class="form-horizontal">

    <h2>If you want to receive messages regarding your comment, please log in!</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(x => x.Name, "* Comment")
            <br>
            @Html.TextAreaFor(x => x.Name, new { @class = "form-control" })
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Submit Comment</button>
        </p>
    }

</div>