@model Pokedex.Models.EggGroupEvaluatorViewModel;
@{
    Layout = "_Layout";
    ViewBag.Title = "Day Care Evaluator";
}

@section styles
{
    <link href="/css/eggGroup.css" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="/js/dayCareEvaluator.js"></script>
}

<div>
    <div class="evaluator">
        <div class="flexDiv">
            <div class="breedablePokemonList">
                @Html.Label("Breedable Pokémon")
                @Html.DropDownList("Breedable Pokémon", new SelectList(@Model.AllPokemon, "Id", "Name"), "", new { @class = "form-control eggGroupSelectList" })
            </div>
        </div>
    </div>
    <div class="pokemonWithEggGroup"></div>
</div>