@model Pokedex.Models.EggGroupEvaluatorViewModel;
@{
    Layout = "_Layout";
    ViewBag.Title = "Egg Group Evaluator";
}

@section styles
{
    <style>
        .flexDiv {
            padding: 0 0 1rem;
        }

        .pokemonTables {
            padding: 0;
        }

        .pokemonList > div {
            min-width: 216.75px;
        }
    </style>
}

@section scripts
{
    <script src="/js/eggGroupEvaluator.js"></script>
    <script>
        var eggGroupDetails = @Html.Raw(Json.Serialize(Model.AllPokemonWithEggGroups));
    </script>
}

<div>
    <div class="evaluator">
        <div class="flexDiv">
            <div class="breedablePokemonList">
                @Html.Label("Breedable Pokemon")
                @Html.DropDownList("Breedable Pokemon", new SelectList(@Model.AllPokemon, "Id", "Name"), "", new { @class = "form-control eggGroupSelectList" })
            </div>
        </div>
    </div>
    <div class="pokemonWithEggGroup"></div>
</div>