@{
    Layout = "_Layout";
}

<h4>It appears like an error occurred!</h4>

<h5>If you see this, please <a href="@this.Url.Action("Comment", "Home")">Leave a comment</a> and let me know what happened!</h5>