@{
    Layout = "_Layout";
}

<h4>It appears like an error occurred!</h4>

<h5>If you see this, an error report has been sent to the owner. If you would like to give more information, please <a href="@this.Url.Action("Comment", "Home")">Leave a comment</a> and let me know how this happened!</h5>