@model IEnumerable<Pokedex.DataAccess.Models.Game>;
@{
    ViewBag.Title = "EV Trainer";
    ViewBag.Description = "Find out how to train your Pokémon using the EVs opponent Pokémon give upon defeat!";
}

@section styles
{
    <link href="~/css/pageLookup.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/ajaxSpinner.css" rel="stylesheet" asp-append-version="true" />
    <style>
        .gameList {
          margin-bottom: 10px;
        }

        .slider {
            margin-right: 5%;
        }
    </style>
}

@section scripts
{
    <script src="~/js/evYields.js" asp-append-version="true"></script>
}

<div class="evaluator">
    <div class="flexDiv">
        <div class="gameList">
            @Html.Label("Game")
            <select class="form-control gameSelectList" id="Game" name="Game">
                @foreach (var g in Model)
                {
                    <option value="@g.Id">@g.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group row">
            <label class="col-md-2" for="Health">Health: <span id="healthVal"></span></label>
            <input class="healthSlider slider col-md-3" data-val-required="The Health field is required." id="Health" name="Health" type="range" min="0" max="3" value="0">
            <label class="col-md-2" for="Attack">Attack: <span id="attackVal"></span></label>
            <input class="attackSlider slider col-md-3" data-val-required="The Attack field is required." id="Attack" name="Attack" type="range" min="0" max="3" value="0">
        </div>
        <div class="form-group row">
            <label class="col-md-2" for="Defense">Defense: <span id="defenseVal"></span></label>
            <input class="defenseSlider slider col-md-3" data-val-required="The Defense field is required." id="Defense" name="Defense" type="range" min="0" max="3" value="0">
            <label class="col-md-2" for="SpecialAttack">Special Attack: <span id="specialAttackVal"></span></label>
            <input class="specialAttackSlider slider col-md-3" data-val-required="The Special Attack field is required." id="SpecialAttack" name="SpecialAttack" type="range" min="0" max="3" value="0">
        </div>
        <div class="form-group row">
            <label class="col-md-2" for="SpecialDefense">Special Defense: <span id="specialDefenseVal"></span></label>
            <input class="specialDefenseSlider slider col-md-3" data-val-required="The Special Defense field is required." id="SpecialDefense" name="SpecialDefense" type="range" min="0" max="3" value="0">
            <label class="col-md-2" for="Speed">Speed: <span id="speedVal"></span></label>
            <input class="speedSlider slider col-md-3" data-val-required="The Speed field is required." id="Speed" name="Speed" type="range" min="0" max="3" value="0">
        </div>
    </div>
</div>

<div class="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

<div class="evYields"></div>