@model List<Pokedex.DataAccess.Models.Form>;
@{
    ViewBag.Title = "Form Viewer";
    ViewBag.Description = "Find out what Pokémon are part of different forms!";
}

@section styles
{
    <link href="~/css/pageLookup.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/ajaxSpinner.css" rel="stylesheet" asp-append-version="true" />
}

@section scripts
{
    <script src="~/js/formEvaluator.js" asp-append-version="true"></script>
}

<div>
    <div class="evaluator">
        <div class="flexDiv">
            <div class="formList">
                @Html.Label("Alternate Forms")
                @Html.DropDownList("Alternate Forms", new SelectList(@Model, "Id", "Name"), "", new { @class = "form-control formSelectList" })
            </div>
        </div>
    </div>
    <br>
    <div class="pokemonWithAlternateForm"></div>
</div>

<div class="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>