@model IEnumerable<Pokedex.DataAccess.Models.Game>;
@{
    Layout = "_Layout";
    ViewBag.Title = "Available Pokémon List";
}

@section styles
{
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
    <link href="/css/typeChart.css" rel="stylesheet" type="text/css" />
    <style>
        .totalPokemon {
            margin-bottom: 20px;
            text-align: center;
        }
    </style>
}

@section scripts
{
    <script src="/js/pageLookup.js"></script>
}

<div class="pageButtons">
    @foreach (var p in Model.OrderBy(x => x.ReleaseDate).ThenBy(x => x.Id))
    {
        <button class="gameButton" id="Game@(p.Id)" onclick="lookupAvailableGame('@p.Id')">@p.Name (@p.Abbreviation)</button>
    }
</div>
<div class="page generation pokemonList">
    <div class="totalPokemon">
        @if (this.User.IsInRole("Owner"))
        {
            <div class="updater"></div>
        }
    </div>
    <div class="grid-container"></div>
</div>