@model IEnumerable<Pokedex.DataAccess.Models.Game>;
@{
    Layout = "_Layout";
    ViewBag.Title = "View Pokémon in Locations";
    ViewBag.Description = "View what pokémon are available in different areas of games! Some locations have different encounters depending on the game!";
}

@section styles
{
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
    <style>
        .locationHeader {
            margin: 1rem 0;
        }

        .totalLocations {
            text-align: center;
        }

        .locationLink {
            color: 737373 !important;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .locationLink:hover {
            background-color: #ddd;
        }
    </style>
}

@section scripts
{
    <script src="/js/pageLookup.js"></script>
}

<div class="pageButtons">
    @foreach (var p in Model.OrderBy(x => x.ReleaseDate).ThenBy(x => x.Id))
    {
        <button class="gameButton" id="Game@(p.Id)" onclick="lookupAvailableLocations('@p.Id')">@p.Name (@p.Abbreviation)</button>
    }
</div>
<div class="page generation locationList">
    <div class="totalLocations">
        @if (this.User.IsInRole("Owner"))
        {
            <div class="updater"></div>
        }
    </div>
    <div class="grid-container"></div>
</div>