@model IEnumerable<Pokedex.DataAccess.Models.Generation>
@{
    Layout = "_Layout";
    ViewBag.Title = "Team Randomizer";
}

@section styles
{
    <style>
        img {
            width: 300px;
            height: 300px;
            object-fit: contain;
        }

        .pokemonAbility {
            margin: 10px 0;
        }
    </style>
}

@section scripts
{
    <script src="/js/teamRandomizer.js"></script>
}

<div class="btn-group teamRandomizer">
    <span>
        <button class="btn btn-primary generatorDropdown">Randomizer Options</button>
    </span>
    <ul class="generatorDropdownMenu dropdown-menu">
        <section class="generatorSection">
            <span class="generationOptionTitle" id="generations">Generations</span>
            @foreach(var gen in Model.Where(x => !x.Id.Contains('-')).ToList())
            {
                <li class="dropdown-item generatorOption generationCheckbox gen@(gen.Id)Checkbox">
                    <input id="gen@(gen.Id)" type="checkbox" value="@(gen.Id)" checked="checked" />
                    <label for="gen@(gen.Id)" class="generatorOptionTitle">Generation @gen.Id</label>
                </li>
            }
            <span class="generationOptionTitle" id="alternateForms">Alternate Forms</span>
            <li class="dropdown-item generatorOption alternateFormCheckbox megaCheckbox">
                <input id="Mega" type="checkbox" value="Mega" checked="checked" />
                <label for="Mega" class="generatorOptionTitle">Mega Evolutions</label>
            </li>
            <li class="dropdown-item generatorOption alternateFormCheckbox alolanFormCheckbox">
                <input id="Alolan" type="checkbox" value="Alolan" checked="checked" />
                <label for="Alolan" class="generatorOptionTitle">Alolan Forms</label>
            </li>
            <li class="dropdown-item generatorOption alternateFormCheckbox galarianFormCheckbox">
                <input id="Galarian" type="checkbox" value="Galarian" checked="checked" />
                <label for="Galarian" class="generatorOptionTitle">Galarian Forms</label>
            </li>
            <li class="dropdown-item generatorOption alternateFormCheckbox otherFormCheckbox">
                <input id="Other" type="checkbox" value="Other" checked="checked" />
                <label for="Other" class="generatorOptionTitle">Other Forms</label>
            </li>
            <span class="generationOptionTitle" id="evolutions">Evolutions</span>
            <li class="dropdown-item generatorOption evolutionRadio">
                <input id="allEvolutions" type="radio" name="evolutionSelection" value="allEvolutions" checked="checked" />
                <label for="allEvolutions" class="generatorRadio">All Evolutions</label>
            </li>
            <li class="dropdown-item generatorOption evolutionRadio">
                <input id="stage1Pokemon" type="radio" name="evolutionSelection" value="stage1Pokemon" />
                <label for="stage1Pokemon" class="generatorRadio">Pre Evolution</label>
            </li>
            <li class="dropdown-item generatorOption evolutionRadio">
                <input id="stage2Pokemon" type="radio" name="evolutionSelection" value="middleEvolution" />
                <label for="stage2Pokemon" class="generatorRadio">Middle Evolution</label>
            </li>
            <li class="dropdown-item generatorOption evolutionRadio">
                <input id="onlyFullyEvolved" type="radio" name="evolutionSelection" value="onlyFullyEvolved" />
                <label for="onlyFullyEvolved" class="generatorRadio">Final Evolution</label>
            </li>
        </section>
        <section class="generatorSection">
            <span class="generationOptionTitle" id="games">Games</span>
            <li class="dropdown-item generatorOption gameRadio">
                <input id="game0" name="gameSelection" type="radio" value="0" checked="checked" />
                <label for="game0" class="generatorOptionTitle">Any Game</label>
            </li>
            @foreach(var gen in Model)
            {
                <li class="dropdown-item generatorOption gameRadio">
                    <input id="game@(gen.Id)" name="gameSelection" type="radio" value="@(gen.Id)" />
                    <label for="game@(gen.Id)" class="generatorOptionTitle">@gen.Games</label>
                </li>
            }
        </section>
        <section class="generatorSection">
            <span class="generationOptionTitle" id="legendaries">Legendaries</span>
            <li class="dropdown-item generatorOption legendaryCheckbox">
                <input id="Legendary" type="checkbox" value="Legendary" checked="checked" />
                <label for="Legendary" class="generatorOptionTitle">Legendaries</label>
            </li>
            <li class="dropdown-item generatorOption legendaryCheckbox">
                <input id="Mythical" type="checkbox" value="Mythical" checked="checked" />
                <label for="Mythical" class="generatorOptionTitle">Mythicals</label>
            </li>
            <li class="dropdown-item generatorOption legendaryCheckbox ultraBeastCheckbox">
                <input id="UltraBeast" type="checkbox" value="UltraBeast" checked="checked" />
                <label for="UltraBeast" class="generatorOptionTitle">Ultra Beasts</label>
            </li>
            <span class="generationOptionTitle" id="otherOptions">Other Options</span>
            <li class="dropdown-item generatorOption otherOption randomAbilityCheckbox">
                <input id="randomAbilityBool" type="checkbox" value="randomAbilityBool" checked="checked" />
                <label for="randomAbilityBool" class="generatorOptionTitle">Show Random Ability</label>
            </li>
            <li class="dropdown-item generatorOption otherOption legendaryBoolCheckbox">
                <input id="legendaryBool" type="checkbox" value="legendaryBool" />
                <label for="legendaryBool" class="generatorOptionTitle">Only Show Legendaries</label>
            </li>
            <li class="dropdown-item generatorOption otherOption multipleMegaBoolCheckbox">
                <input id="multipleMegaBool" type="checkbox" value="multipleMegaBool" />
                <label for="multipleMegaBool" class="generatorOptionTitle">Show Multiple Megas</label>
            </li>
            <li class="dropdown-item generatorOption otherOption altFormBoolCheckbox">
                <input id="altFormBool" type="checkbox" value="altFormBool" />
                <label for="altFormBool" class="generatorOptionTitle">Only Show Alternate Forms</label>
            </li>
            <li class="dropdown-item generatorOption otherOption onePokemonFormBoolCheckbox">
                <input id="onePokemonFormBool" type="checkbox" value="onePokemonFormBool" checked="checked" />
                <label for="onePokemonFormBool" class="generatorOptionTitle">Only One Form Per Pokemon</label>
            </li>
        </section>
    </ul>
</div>

<button class="btn btn-primary generatorButton">Randomize Team</button>

<div class="teamRandomizer">
    <table  class="teamRandomizerTable"></table>
</div>