@model IEnumerable<Pokedex.DataAccess.Models.Generation>
@{
    Layout = "_Layout";
}

@section scripts
{
    <script src="/js/teamGenerator.js"></script>
}

<div class="btn-group teamGenerator">
    <span><button class="btn btn-primary generatorDropdown">Generator Options</button></span>
    <ul class="dropdown-menu">
        <span class="generationOptionTitle">Selected Generations</span>
        @foreach(var gen in Model)
        {
            <li class="dropdown-item generatorOption generationCheckbox">
                <input id="gen@(gen.Id)" type="checkbox" value="@(gen.Id)" checked />
                <label for="gen@(gen.Id)" class="generatorOptionTitle">Generation @gen.Id</label>
            </li>
        }
        <hr class="generationOptionSeparator">
        <span class="generationOptionTitle">Selected Evolutions</span>
        <li class="dropdown-item generatorOption evolutionRadio">
            <input id="allEvolutions" type="radio" name="evolutionSelection" value="allEvolutions" checked />
            <label for="allEvolutions" class="generatorRadio">All Evolutions</label>
        </li>
        <li class="dropdown-item generatorOption evolutionRadio">
            <input id="noEvolutions" type="radio" name="evolutionSelection" value="noEvolutions" />
            <label for="noEvolutions" class="generatorRadio">No Evolutions</label>
        </li>
        <li class="dropdown-item generatorOption evolutionRadio">
            <input id="stage1Pokemon" type="radio" name="evolutionSelection" value="stage1Pokemon" />
            <label for="stage1Pokemon" class="generatorRadio">Only Stage 1 Pokemon</label>
        </li>
        <li class="dropdown-item generatorOption evolutionRadio">
            <input id="stage2Pokemon" type="radio" name="evolutionSelection" value="middleEvolution" />
            <label for="stage2Pokemon" class="generatorRadio">Only Stage 2 Pokemon</label>
        </li>
        <li class="dropdown-item generatorOption evolutionRadio">
            <input id="onlyFullyEvolved" type="radio" name="evolutionSelection" value="onlyFullyEvolved" />
            <label for="onlyFullyEvolved" class="generatorRadio">Only Fully Evolved Pokemon</label>
        </li>
        <hr class="generationOptionSeparator">
        <span class="generationOptionTitle">Selected Alternate Forms</span>
        <li class="dropdown-item generatorOption alternateFormCheckbox">
            <input id="Mega" type="checkbox" value="Mega" />
            <label for="Mega" class="generatorOptionTitle">Mega Evolutions</label>
        </li>
        <li class="dropdown-item generatorOption alternateFormCheckbox">
            <input id="Alolan" type="checkbox" value="Alolan" />
            <label for="Alolan" class="generatorOptionTitle">Alolan Forms</label>
        </li>
        <!--
        <li class="dropdown-item generatorOption alternateFormCheckbox">
            <input id="Galarian" type="checkbox" value="Galarian" />
            <label for="Galarian" class="generatorOptionTitle">Galarian Forms</label>
        </li>
        -->
        <li class="dropdown-item generatorOption alternateFormCheckbox">
            <input id="Other" type="checkbox" value="Other" />
            <label for="Other" class="generatorOptionTitle">Other Forms</label>
        </li>
        <hr class="generationOptionSeparator">
        <span class="generationOptionTitle">Other Options</span>
        <li class="dropdown-item generatorOption altFormBoolCheckbox">
            <input id="altFormBool" type="checkbox" value="altFormBool" />
            <label for="altFormBool" class="generatorOptionTitle">Only Show Alternate Forms</label>
        </li>
    </ul>
</div>

<button class="btn btn-primary generatorButton">Generate Team</button>

<div class="teamGenerator">
    <table  class="teamGeneratorTable"></table>
</div>