@model IEnumerable<Pokedex.DataAccess.Models.Pokemon>
@{
    Layout = "_Layout";
}

@section scripts
{
    <script src="/js/teamGenerator.js"></script>
}

<button class="btn btn-primary generatorButton">Generate Team</button>

<div class="teamGenerator">
    <table  class="teamGeneratorTable"></table>
</div>