@model IEnumerable<Pokedex.DataAccess.Models.Pokemon>
@{
    Layout = "_Layout";
}

@section styles
{
    <link href="/css/tabContent.css" rel="stylesheet" type="text/css" />
    <link href="/css/typeChart.css" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="/js/tabContent.js"></script>
    <script src="/js/teamGenerator.js"></script>
}

<button class="btn btn-primary generatorButton">Generate Team</button>

<div class="teamGenerator">
    <div class="Table3x2">
        <table  class="teamGeneratorTable"></table>
    </div>
    <div class="Table2x3">
        <table  class="teamGeneratorTable"></table>
    </div>
    <div class="Table1x6">
        <table  class="teamGeneratorTable"></table>
    </div>
</div>