@model IEnumerable<Pokedex.DataAccess.Models.Type>
@{
    Layout = "_Layout";
}

@section styles
{
    <link href="/css/typeChart.css" rel="stylesheet" type="text/css" />
    <style>
        main {
            max-width: 1220px !important;
        }

        .typing-table > * > * > * {
            border: 1px solid black;
        }

        .typing-table tbody th {
            padding-right: 5px;
        }

        .flexDiv td {
            margin: 5px;
        }
    </style>
}

@section scripts
{
    <script src="/js/typing.js"></script>
}

<div class="flexDiv">
    <div class="primaryList">
        @Html.Label("Primary Type")
        @Html.DropDownList("Primary Type", new SelectList(@Model, "Id", "Name"), "", new { @class = "form-control typingSelectList" })
    </div>
    <div class="secondaryList">
        @Html.Label("Secondary Type")
        @Html.DropDownList("Primary Type", new SelectList(@Model, "Id", "Name"), "", new { @class = "form-control typingSelectList" })
    </div>
</div>

<div class="toggleTypingTable">
    <table class="typing-table">
        <tr>
            <th>
                <span class="typing-table-very-weak">Very Weak Against</span>
            </th>
            <td>
                <table>
                    <tr class="flexDiv"></tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>
                <span class="typing-table-weak">Weak Against</span>
            </th>
            <td>
                <table>
                    <tr class="flexDiv"></tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>
                <span class="typing-table-neutral">Neutral Against</span>
            </th>
            <td>
                <table>
                    <tr class="flexDiv"></tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>
                <span class="typing-table-strong">Strong Against</span>
            </th>
            <td>
                <table>
                    <tr class="flexDiv"></tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>
                <span class="typing-table-very-strong">Very Strong Against</span>
            </th>
            <td>
                <table>
                    <tr class="flexDiv"></tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>
                <span class="typing-table-immune">Immune To</span>
            </th>
            <td>
                <table>
                    <tr class="flexDiv"></tr>
                </table>
            </td>
        </tr>
    </table>
</div>