@model IEnumerable<Pokedex.DataAccess.Models.Type>
@{
    Layout = "_Layout";
}

@section styles
{
    <link href="/css/typeChart.css" rel="stylesheet" type="text/css" />
    <style>
        main {
            max-width: 1220px !important;
        }

        .quad-icon {
            margin-left: 5px;
        }

        .pokemonTables {
            padding: 1rem 0 0;
        }

        .pokemonList > div {
            min-width: 216.75px;
        }
    </style>
}

@section scripts
{
    <script src="/js/typing.js"></script>
}

<div>
    <div class="evaluator">
        <div class="flexDiv">
            <div class="primaryList">
                @Html.Label("Primary Type")
                @Html.DropDownList("Primary Type", new SelectList(@Model, "Id", "Name"), "", new { @class = "form-control typingSelectList" })
            </div>
            <div class="secondaryList">
                @Html.Label("Secondary Type")
                @Html.DropDownList("Primary Type", new SelectList(@Model, "Id", "Name"), "", new { @class = "form-control typingSelectList" })
            </div>
        </div>

        <div class="effectivenessChart pokemonTables tableWithHeaders noRowBorders">
            <div class="StrongAgainst">
                <h2>Resistances</h2>
                <table class="typing-table-strong typing-table"></table>
            </div>
            <div class="NotResistances">
                <div class="WeakAgainst">
                   <h2>Weaknesses</h2>
                   <table class="typing-table-weak typing-table"></table>
                </div>
                <div class="ImmuneTo">
                    <h2>Immunities</h2>
                    <table class="typing-table-immune typing-table"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="pokemonWithTyping">
        <h2>Pokemon With Typing</h2>
        <div class="grid-container pokemonList"></div>
    </div>
</div>