.page {
  display: none;
}

.page.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page th {
  color: #737373;
  font-size: .875rem;
  font-weight: normal;
  text-align: right;
}

.page table th {
  text-align: left;
}

.page th, td {
  border-width: 1px 0;
  border-style: solid;
  border-color: #dbdbdb;
  padding: 4px 10px;
}

.pageButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid #dbdbdb;
}

.pageButtons button {
  list-style: none;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  min-width: auto;
  margin: 0 0 -1px 0;
  padding: .25rem 1rem;
  border: 1px solid #dbdbdb;
  border-radius: 4px 4px 0 0;
  background-color: #f0f0f0;
  line-height: 1.2;
  text-align: center;
  color: #737373;
  -webkit-transition: color .2s, background-color .2s;
  transition: color .2s, background-color .2s;
}

.gameButton {
  flex-basis: 26% !important;
}

.pageButtons button:hover {
  background-color: #ddd;
}

.pageButtons button:focus {
  outline-width: 0;
}

.pageButtons button.active {
  background-color: #fff;
  border-bottom-color: #fff;
  color: #404040;
}

@media (min-width: 620px) {
  .span-sm-1 {
    width: 8.33333%
  }
  .span-sm-2 {
    width: 16.66667%
  }
  .span-sm-3 {
    width: 25%
  }
  .span-sm-4 {
    width: 33.33333%
  }
  .span-sm-5 {
    width: 41.66667%
  }
  .span-sm-6 {
    width: 50%
  }
  .span-sm-7 {
    width: 58.33333%
  }
  .span-sm-8 {
    width: 66.66667%
  }
  .span-sm-9 {
    width: 75%
  }
  .span-sm-10 {
    width: 83.33333%
  }
  .span-sm-11 {
    width: 91.66667%
  }
  .span-sm-12 {
    width: 100%
  }
  .grid-col-sep-sm {
    border-left: 1px solid #dbdbdb
  }
}

@media (min-width: 900px) {
  .span-md-1 {
    width: 8.33333%
  }
  .span-md-2 {
    width: 16.66667%
  }
  .span-md-3 {
    width: 25%
  }
  .span-md-4 {
    width: 33.33333%
  }
  .span-md-5 {
    width: 41.66667%
  }
  .span-md-6 {
    width: 50%
  }
  .span-md-7 {
    width: 58.33333%
  }
  .span-md-8 {
    width: 66.66667%
  }
  .span-md-9 {
    width: 75%
  }
  .span-md-10 {
    width: 83.33333%
  }
  .span-md-11 {
    width: 91.66667%
  }
  .span-md-12 {
    width: 100%
  }
  .grid-col-sep-md {
    border-left: 1px solid #dbdbdb
  }
}

@media (min-width: 1220px) {
  .span-lg-1 {
    width: 8.33333%
  }
  .span-lg-2 {
    width: 16.66667%
  }
  .span-lg-3 {
    width: 25%
  }
  .span-lg-4 {
    width: 33.33333%
  }
  .span-lg-5 {
    width: 41.66667%
  }
  .span-lg-6 {
    width: 50%
  }
  .span-lg-7 {
    width: 58.33333%
  }
  .span-lg-8 {
    width: 66.66667%
  }
  .span-lg-9 {
    width: 75%
  }
  .span-lg-10 {
    width: 83.33333%
  }
  .span-lg-11 {
    width: 91.66667%
  }
  .span-lg-12 {
    width: 100%
  }
  .grid-col-sep-lg {
    border-left: 1px solid #dbdbdb
  }
}