.typing div {
  width: 25%;
}

.WeakAgainst {
  margin-right: 10px;
}

.differentForms {
  margin-right: -20px;
}

.differentFormsMobile {
  display: none;
}

.preEvoBreak {
  line-height: 13px;
}

.surroundingPokemon {
  width: 100%;
}

.surroundingPokemon td {
  border: 0;
}

.surroundingPokemon img {
  margin: 0 10px;
}

.surroundingPokemon a, .surroundingPokemon a:hover {
  color: grey !important;
  text-decoration: none;
}

@media (max-width: 782px) {
  .differentForms {
    display: none;
  }

  .differentFormsMobile {
    display: block !important;
    margin-bottom: 20px;
  }
}

@media (min-width: 783px) {
  .pokemonWithForms {
    width: 21.418rem;
  }
  
  .pokemonWithForms > img {
    width: 300px;
    height:300px;
  }
}