.differentFormsMobile {
  display: none;
}

.preEvoBreak {
  line-height: 13px;
}

.pokemonData th,
.pokemonTraining th {
  min-width: 134px;
}

.surroundingPokemon {
  width: 100%;
}

.surroundingPokemon td {
  border: 0;
}

.surroundingPokemon img {
  margin: 0 10px;
}

.surroundingPokemon a,
.surroundingPokemon a:hover {
  color: grey !important;
  text-decoration: none;
}

.emptyDiv {
  z-index: -1;
}

@media (max-width: 391px) {
  .effectivenessChart {
    flex-wrap: wrap;
  }
}

@media (max-width: 782px) {
  .differentForms {
    display: none;
  }

  .differentFormsMobile {
    display: block !important;
  }
}

@media (max-width: 934px) {

  .evolutionTable,
  .preEvolutionTable {
    width: 100% !important;
  }

  .evolutionPokemon935 {
    display: none;
  }

  .evolutionPokemon934 {
    display: table-row-group;
  }
}

@media (min-width: 783px) {
  .pokemonWithForms {
    width: 21.418rem;
  }

  .pokemonWithForms>.pokemonImage img {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 935px) {
  .evolutionPokemon934 {
    display: none;
  }

  .evolutionPokemon935 {
    display: table-row-group;
  }
}