.select2-container {
    max-width: none !important;
}

.flexDiv {
    flex-wrap: wrap;
}

.pokemonList, .gameList {
    margin-right: 5px;
}

.gameList {
    max-width: 50%;
}

.secondPokemon {
    margin-bottom: 5px;
}

.compareButton {
    height: 36px;
}

.match {
    background-color: lightgreen;
}

.noMatch {
    background-color: lightcoral;
}

.page tr {
    background: #eaeaea !important;
}

.page th {
    font-weight: bold;
}

.page td {
    text-align: center;
    border: 3px #c8c8c8;
    border-style: solid none;
    width: 50%;
}

.page .noMatch {
    border-width: 3px 2px;
    border-style: solid;
}

.page .noMatch:first-child {
    border-left: none;
}

.page .noMatch:last-child {
    border-right: none;
}

.page tr:last-child td, .abilities:not(:last-child) td, .evYields:not(:last-child) td, .eggGroups:not(:last-child) td {
    border-bottom: none;
}

.type-icon {
    margin: 0;
}

.pokemonTables {
    padding: 0;
    margin: 0 0.5rem;
}

.pokemonStats tr td:last-child {
    text-align: center;
}