.pokemonShinyHuntGroup {
  margin-right: 10px;
}

.encounters {
  margin: 0 5px;
}

.incompletedHunts .description {
  font-size: 24px;
}

.description p {
  margin: 0;
}

.huntCompletionButtons {
  margin: 3px;
}

.huntCompletionButtons button, .huntCompletionButtons a {
  width: 49%;
}

.hide {
  display: none !important;
}

@media (min-width: 440px) {
  .shadowed {
    min-width: 310px;
  }

  .shadowed:not(.hide)>.pokemonDetails {
    display: flex;
  }

  .pokemonDetails>div {
    width: 50%;
  }
}