.grid-container>div {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.pokemonShinyHuntGroup {
  margin-right: 10px;
}

.shinyHuntButtons * {
  margin: 0 5px 5px 0;
}

.encounterCounter {
  margin: 0 5px;
}

.bonusImages img {
  filter: none;
}

.pokemonDetails {
  margin: 0 0 5px;
}

.description p {
  margin: 0;
}

.huntUncapturedButtons,
.huntCapturedButtons {
  margin-bottom: 3px;
}

.shinyFoundButtons a,
.huntUncapturedButtons a,
.huntCapturedButtons a,
.encounterButtons button {
  width: 49%;
}

.shinyHuntButtons a {
  margin-bottom: 5px;
}

.editShinyButton {
  width: 100%;
  background-color: #F18E38;
  border-color: #F18E38;
}

.editShinyButton:hover {
  background-color: #E67310;
  border-color: #CE680E;
}

.editShinyButton:active {
  background-color: #CE680E;
  border-color: #F18E38;
}

.editShinyButton:focus {
  box-shadow: 0 0 0 .2rem rgba(182, 92, 13, .5);
}

.editShinyButton,
.editShinyButton:hover,
.editShinyButton:active,
.editShinyButton:focus {
  color: #FFF;
}

.hide {
  display: none !important;
}

.shinyCharm {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.pokemonMark,
.pokemonAlpha {
  position: absolute;
  top: 50px;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.pokeball {
  position: absolute;
  top: 100px;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.pokemonDetails {
  position: relative;
}

.grid-container>div {
  flex-basis: 20%;
}

.encounterButtons p {
  margin-bottom: 0;
}

@media (min-width: 440px) {
  .shadowed {
    min-width: 310px;
  }

  .shadowed:not(.hide)>.pokemonDetails {
    display: flex;
    height: 100%;
  }

  .pokemonDetails>div:not(.bonusImages) {
    width: 50%;
  }
}

@media (min-width: 576px) {

  .startShinyForm,
  .completeShinyHunt,
  .editShinyHunt {
    display: flex;
  }

  .startShinyForm>div,
  .completeShinyHunt>div,
  .editShinyHunt>div {
    width: 50%;
  }

  .pokemonShinyImage {
    width: 85%;
    height: 85%;
    max-height: 400px;
    object-fit: contain;
    margin: 20px;
  }
}

@media (min-width: 768px) {
  .select2-container {
    max-width: 50% !important;
  }
}

@media (max-width: 449px) {

  .shinyFoundButtons a,
  .huntUncapturedButtons a,
  .huntCapturedButtons a,
  .encounterButtons button {
    height: 62px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 575px) {
  .pokemonShinyImage {
    max-height: 75px;
    object-fit: contain;
    position: absolute;
    top: 75px;
    right: 12px;
  }
}