.attemptCount {
    border: 0;
    text-align: center;
    margin: 0 .375rem;
}

.attemptCounter.focus, .attemptCounter:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.shinyCharmCheckBox.hidden {
    display: none;
}

.shinyCharmCheckBox input {
    width: auto;
}

.shinyHuntLabel {
    width: 25%;
}

.shinyHuntOption {
    width: 66.666666666%;
}

.shinyHuntButton {
    margin-left: -17.5px;
}