.select2-selection.select2-selection--multiple {
  overflow: scroll;
}

.grid-container>div {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.pin, .pinned {
  position: absolute;
  font-size: 20px;
  right: -2px;
  top: -5px;
  cursor: pointer;
}

.pin {
  filter: brightness(0);
}

.pokemonShinyHuntGroup {
  margin-right: 10px;
}

.shinyHuntButtons * {
  margin: 0 5px 5px 0;
}

.encounterCounter {
  margin: 0 5px;
}

.bonusImages img {
  filter: none !important;
}

.pokemonDetails {
  margin: 0 0 5px;
}

.description p {
  margin: 0;
}

.huntUncapturedButtons,
.huntCapturedButtons {
  margin-bottom: 3px;
}

.shinyFoundButtons a:not(.unknownHunt),
.huntUncapturedButtons a,
.huntUncapturedButtons button,
.huntCapturedButtons a:not(.phasesButton),
.huntCapturedButtons button,
.encounterButtons a,
.encounterButtons button:not(.encounterIncrease.singlePhase) {
  width: 49%;
}

.huntCapturedButtons .phasesButton, .encounterIncrease.singlePhase, .unknownHunt {
  width: calc(98% + 5px);
}

.shinyHuntButtons a {
  margin-bottom: 5px;
}

.orangeButton {
  width: 100%;
  background-color: #F18E38;
  border-color: #F18E38;
}

.orangeButton:hover {
  background-color: #E67310;
  border-color: #CE680E;
}

.orangeButton:active {
  background-color: #CE680E;
  border-color: #F18E38;
}

.orangeButton:focus {
  box-shadow: 0 0 0 .2rem rgba(182, 92, 13, .5);
}

.orangeButton,
.orangeButton:hover,
.orangeButton:active,
.orangeButton:focus {
  color: #FFF;
}

.hide {
  display: none !important;
}

.bonusImages img {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.shinyCharm,
.directHOMETransfer  {
  top: 0;
  left: 0;
}

.pokemonMark,
.pokemonAlpha{
  top: 50px;
  left: 0;
}

.pokeball, .flee {
  top: 100px;
  left: 0;
}

.pokemonSweet  {
  top: 50px;
  right: 0;
}

.gender {
  top: 100px;
  right: 0;
}

.pokemonNotes {
  top: 0;
  right: 0;
  cursor: -moz-help; 
  cursor: -webkit-help; 
  cursor: help;
}

.notesTextArea {
  resize: both;
}

.pokemonDetails>div {
  position: relative;
}

.grid-container>div {
  flex-basis: 20%;
}

.encounterButtons p {
  margin-bottom: 0;
}

@media (min-width: 440px) {
  .shadowed {
    min-width: 310px;
  }

  .shadowed:not(.hide)>.pokemonDetails {
    display: flex;
    height: 100%;
  }

  .pokemonDetails>div:not(.bonusImages) {
    width: 50%;
  }
}

@media (min-width: 576px) {

  .startShinyHunt,
  .addCompleteShinyHunt,
  .completeShinyHunt,
  .completePhase,
  .editShinyHunt {
    display: flex;
  }

  .startShinyHunt>div,
  .addCompleteShinyHunt>div,
  .completeShinyHunt>div,
  .completePhase>div,
  .editShinyHunt>div {
    width: 50%;
  }

  .pokemonShinyImage {
    width: 85%;
    height: 85%;
    max-width: 350px;
    max-height: 350px;
    object-fit: contain;
    margin: 20px;
  }
}

@media (min-width: 768px) {
  .select2-container {
    max-width: 50% !important;
  }
}

@media (max-width: 449px) {
  .shinyFoundButtons a,
  .huntUncapturedButtons a,
  .huntUncapturedButtons button,
  .huntCapturedButtons a,
  .huntCapturedButtons button,
  .encounterButtons button {
    height: 62px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 575px) {
  .pokemonShinyImage {
    max-width: 75px;
    max-height: 75px;
    object-fit: contain;
    position: absolute;
    top: 75px;
    right: 12px;
  }
}