.resp-scroll {
 overflow-x: auto;
}
.grid-col {
 padding: 0 1rem;
 width: 100%;
 margin: 0 -.5rem;
}
.resp-scroll > :last-child {
 margin-bottom: 0;
}
.grid-col > :last-child {
 overflow-x: auto;
 margin-bottom: 0;
}
.type-icon, .quad-icon {
 margin: 2px 0 2px;
 background: #dbdbdb;
 border: 1px solid #a3a3a3;
 border-radius: 10px;
 border: 1px solid rgba(0,0,0,0.2);
 color: #fff;
 font-size: .75rem;
 font-weight: normal;
 line-height: 1.5rem;
 text-align: center;
 text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
 text-transform: uppercase;
}
.type-icon {
 display: inline-block;
 width: 66px;
}
.type-table thead th, .type-table tbody th {
  border-width: 0px;
  padding: 1px;
}
.type-table thead th {
  padding-bottom: 7.5px;
}
.type-table tbody th {
  padding-right: 7.5px;
}
.quad-icon {
 width: 96px;
}
.type-normal {
 background-color: #aa9;
}
.type-fire {
 background-color: #f42;
}
.type-water {
 background-color: #39f;
}
.type-electric {
 background-color: #fc3;
}
.type-grass {
 background-color: #7c5;
}
.type-ice {
 background-color: #6cf;
}
.type-fighting {
 background-color: #b54;
}
.type-poison {
 background-color: #a59;
}
.type-ground {
 background-color: #db5;
}
.type-flying {
 background-color: #89f;
}
.type-psychic {
 background-color: #f59;
}
.type-bug {
 background-color: #ab2;
}
.type-rock {
 background-color: #ba6;
}
.type-ghost {
 background-color: #66b;
}
.type-dragon {
 background-color: #76e;
}
.type-dark {
 background-color: #754;
}
.type-steel {
 background-color: #aab;
}
.type-fairy {
 background-color: #e9e;
}
.quad-resist {
 background-color: #73d216;
}
.quad-weak {
 background-color: #7c0000;
}
.type-table {
 margin: 0 auto 1rem;
 border-spacing: 0;
}
.type-table .type-icon {
  margin: 0;
}
.type-table th,
.type-table td {
 padding: 0;
 border: 1px solid #f0f0f0;
}
.pokemon-type {
 display: inline-block;
}
.cell-atkdef {
 font-size: .75rem;
 font-weight: normal;
 line-height: 1rem;
 text-align: center;
}
.type-cell {
 display: block;
 width: 66px;
 height: 28px;
 font-size: .625rem;
 margin-bottom: 0;
 line-height: 26px;
}
.type-abbr {
 width: 28px;
}
.type-fx-cell,
.type-fx-icon {
 color: #ffdd57;
 font-size: .625rem;
 width: 28px;
 height: 28px;
 line-height: 26px;
 text-align: center;
}
.type-fx-icon {
 border: 1px solid #f0f0f0;
}
.type-fx-25,
.type-fx-50 {
 font-size: .75rem;
}
.type-fx-0 {
 background-color:#2e3436
}
.type-fx-25 {
 background-color:#7c0000
}
.type-fx-50 {
 background-color:#a40000
}
.type-fx-100 {
 background-color:#3399ff
}
.type-fx-200 {
 background-color:#4e9a06
}
.type-fx-400 {
 background-color:#73d216
}
.health.statBar {
  background-color: #FF0000;
  border-color: #A60000;
}
.attack.statBar {
  background-color: #F08030;
  border-color: #9C531F;
}
.defense.statBar {
  background-color: #F8D030;
  border-color: #A1871F;
}
.specialAttack.statBar {
  background-color: #6890F0;
  border-color: #445E9C;
}
.specialDefense.statBar {
  background-color: #78C850;
  border-color: #4E8234;
}
.speed.statBar {
  background-color: #F85888;
  border-color: #A13959;
}
.toggleTypingTable {
  margin-top: 1rem;
}
.primaryList > label, .secondaryList > label {
  margin-bottom: 7.5px;
}
.primaryList, .primaryList > select, .secondaryList, .secondarylist > select {
  width: 7.5rem;
}
@media (min-width: 820px) {
 .type-cell,
 .type-fx-cell,
 .type-fx-icon {
  height: 36px;
  font-size: .75rem;
  line-height: 34px;
 }
 .type-abbr,
 .type-fx-cell,
 .type-fx-icon {
  width: 36px;
 }
 .cell-atkdef {
  line-height: 1rem;
 }
 .type-fx-cell,
 .type-fx-icon {
  font-size: .75rem;
 }
 .type-fx-25,
 .type-fx-50 {
  font-size: .875rem;
 }
}
.type-fx-list {
 margin-left: 1.75rem;
}