@model List<Pokedex.DataAccess.Models.Region>;
@{
    Layout = "_Layout";
}

@section styles
{
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
    <style>
        .grid-container {
            background-color: inherit !important;
        }
    </style>
}

@section scripts
{
    <script src="/js/pageLookup.js"></script>
}

<p>
    @if (this.User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@this.Url.Action("Location", "Add")" role="button">Add Location</a>
        </p>
    }
</p>



<div class="pageButtons">
    @foreach (var region in Model)
    {
        <button id="Region@(region.Id)" onclick="lookupRegion('@region.Id')">@region.Name</button>
    }
</div>
<div class="generation locationList">
    <div class="grid-container locationTable"></div>
</div>